{% extends 'base.html.twig' %}

{% block title %}
Tous les fonds d'investissement
{% endblock %}
{% block body %}
<p>
</p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
Suspendisse urna nibh viverra non semper suscipit posuere a pede.
<ul>
    <li>
        <a href="{{ path('asset.show', {slug: 'equity', id: 1}) }}">Voir les fonds monétaires</a>
    </li>
</ul>
{% endblock %}
